Flask==3.1.0
gunicorn==23.0.0
ultralytics==8.3.130

# Data & plotting (safe versions)
pandas
matplotlib
seaborn

# Image processing
opencv-python

# Torch & vision
torch==2.2.2
torchvision==0.15.2
torchaudio==2.2.2

# Optional but common tools
tqdm
psutil
